body {
    margin: 8px;
}

.header {
    background-color: red;
}

.container {
    background-color: #3737c6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Rasporedi elemente ravnomerno */
    margin: 200px;
}
.form-group {
    flex: 1;
    margin: 100px; /* Dodaj razmak između elemenata */
}
button {
    align-self: flex-end; /* Postavi dugme na desni kraj */
    margin-top: 10px; /* Dodaj razmak iznad dugmeta */
}
ul#listaLetova {
    width: 100%;
}
.let-jednosmerni {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none; /* Ukloni tačke ili brojeve ispred stavki */
    margin-bottom: 20px; /* Dodaj razmak između stavki */
    padding: 10px; /* Dodaj unutarnji prostor oko svake stavke */
    background-color: purple; /* Boja pozadine stavki */
    border: 1px solid #ccc; /* Dodaj ivicu oko svake stavke */
    border-radius: 5px; /* Zaobljeni rubovi */
}
/* Stilovi za naslove atributa unutar <li> stavke */
.let-jednosmerni > strong {
    font-weight: bold; /* Podešavanje debljine fonta za naslove atributa */
    width: 100%;
}
.let-jednosmerni > span {
    margin-left: 5px;
    margin-right: 20px;
    background-color: #1b6da8;
}
li.let-povratni {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none; /* Ukloni tačke ili brojeve ispred stavki */
    margin-bottom: 20px; /* Dodaj razmak između stavki */
    padding: 10px; /* Dodaj unutarnji prostor oko svake stavke */
    background-color: purple; /* Boja pozadine stavki */
    border: 1px solid #ccc; /* Dodaj ivicu oko svake stavke */
    border-radius: 5px; /* Zaobljeni rubovi */
}

/* Stilovi za naslove atributa unutar <li> stavke za povratni let */
li.let-povratni > strong {
    font-weight: bold; /* Podešavanje debljine fonta za naslove atributa */
    width: 100%;
}

/* Stilovi za ikonu za povratni let */
li.let-povratni > span {
    margin-left: 5px;
    margin-right: 20px;
    background-color: #1b6da8;
}

/* Stilovi za cijenu povratnog leta */
li.let-povratni > div.cenaKarte {
    font-size: large;
    font-weight: bold;
}

/* Stilovi za dodatke povratnog leta */
li.let-povratni > div.dodaci {
    margin-left: 10%;
}

#prozorDetaljiJednosmernogLeta,
#prozorDetaljiPovratnogLeta {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#prozorDetaljiJednosmernogLeta.prikazi,
#prozorDetaljiPovratnogLeta.prikazi {
    display: block;
}
/* Dodajte svoje stilove ovde prema potrebi */
.autocomplete {
    position: relative;
    display: inline-block;
}

.suggestions {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    width: 200px;
    display: none;
}

.suggestions li {
    padding: 8px;
    cursor: pointer;
    background-color: rgb(227, 234, 234);
}

.suggestions li:hover {
    background-color: #c5c1c1;
}
div.cenaKarte {
    font-size: large;
    font-weight: bold;
}
.dodaci {
    margin-left: 10%;
}
button#dugmeUcitajViseLetova {
    font-size: large;
    border-radius: 10px;
    margin-right: 50%;
}
